<div id="interstitial" interstitial></div>
<div id="interstitialad"></div>


<div class="stretch-tall">

		    <div class="stretch-tall">

            <div id="storyArea" class="col-sm-12" align="center">
              <div class='titleFav fullbar'>
                <a class='arrow titlestar' fav-button="{{imageData.photocaption}}">&#9734;</a>
				  <h4 image="photocaption"></h4>
              </div>
				 <div class="photo-holder" align="center">
					<div class="both-holder">
						<div class="img-holder"><img ng-src="{{imageData.photourl}}"></div>
						<span image="photocaption"></span>
					</div>
				</div>
            </div>
    </div>
	
</div>

<div id="adarea" class="adarea" align='center'>
	<div id='mainAd' ad-img></div>
</div>