<div id="interstitial" interstitial></div>
<div id="interstitialad"></div>

<div class="loc-area" align="center">
	<div class="backArrow" back-button>
		<a class='arrow'>&lt;</a>
	</div>
	<div id="sub-nav-items">
		<a class='navItems' ng-repeat='item in navItems' ng-href="/section/{{linkify(item)}}/" ng-bind="item"></a>
	</div>
</div>

<div ng-switch on="section" style="height:100%" scroll-thing media="true">
	<div id="storyArea" class="col-sm-12" ng-switch-when="photo-galleries" hm-dragup="fetchMore()" hm-dragdown="refresh()">
		<div id="itemArea" class="GalleryItemArea">
			<div class="item {{story.class}}" ng-repeat="story in sectionData.stories">
				<div class="PinBase Pin Module summary ajax lite" data-component-type="0">
					<div class="pinWrapper">
						<div class="pinHolder">
							<a class="pinImageWrapper" ng-href="/media/{{section}}/{{story.id}}">
								<div class="fadeContainer">
									<div class="hoverMask"></div>
									<img class="pinImg fullBleed loaded fade" ng-src="{{story.photourl}}">
									<div class="padded-cell">
										<h4 class="nomargin">
											<a ng-href="/media/{{section}}/{{story.id}}" story="headline"></a>
										</h4>
										<span class="sideboard-date" story="pubDate"></span>
										<span class="sideboard-date" story="author"></span>
										<p story="tease"></p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cleardivs"></div>
	</div>
	<div class="push">&nbsp;</div>
	</div>

	<div id="storyArea" class="col-sm-12" ng-switch-when="videos" hm-dragup="fetchMore()" hm-dragdown="refresh()">
		<div id="itemArea">
			<div class="item {{story.class}}" ng-repeat="story in sectionData.stories">
				<div class="PinBase Pin Module summary ajax lite" data-component-type="0">
					<div class="pinWrapper">
						<div class="pinHolder">
							<a class="pinImageWrapper" ng-href="/media/{{section}}/{{story.id}}">
								<div class="fadeContainer">
									<div class="hoverMask"></div>
									<img class="pinImg fullBleed loaded fade" ng-src="{{story.photourl}}">
									<div class="padded-cell">
										<h4 class="nomargin">
											<a ng-href="/media/{{section}}/{{story.id}}" story="headline"></a>
										</h4>
										<span class="sideboard-date" story="pubDate"></span>
										<span class="sideboard-date" story="author"></span>
										<p story="tease"></p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cleardivs"></div>
	</div>
	<div class="push">&nbsp;</div>
	</div>
</div>


<div id="adarea" class="adarea" align='center'>
	<div id='mainAd' ad-img></div>
</div>