<div ng-switch on="section" class="stretch-tall">
    <div ng-switch-when="photo-galleries" class="stretch-tall">

            <div id="storyArea" class="col-sm-12" align="center">
              <div class='titleFav fullbar'>
                <a class='arrow titlestar' fav-button="{{galleryData.title}}">&#9734;</a>
				  <h4 gallery="title"></h4>
              </div>
                 <div ng-repeat="pic in galleryData.images" class="photo-holder photo-image{{$index}}" align="center">
                	<div class="both-holder">
                    	<div class="img-holder"><img ng-src="{{pic.photourl}}"></div>
                    	<span pic="photocaption"></span>
                    </div>
                </div>
            </div>
    </div>

    <div ng-switch-when="videos" class="stretch-tall">
        <div id="storyArea" class="col-sm-12"  class="stretch-tall">
            	<div class="wrapper">
                    <div class="i_iframe" style="background-image:url('{{pic.photourl}}'); background-size:cover">
                        <!-- a transparent image is preferable -->
                        <img class="ratio" src="img/16x9.png"/>
                        <div id="playerDiv" tube-player="{{galleryData.url}}" align="center"></div>
                    </div>
                  <div class='titleFav'>
                        <strong><span gallery="title"></span></strong>
                        <a class='arrow titlestar' fav-button="{{galleryData.title}}">&#9734;</a>
                    </div>
                    <br>
                    <span gallery="caption"></span>
                </div>
                <div style="clear:both"></div>
        </div>
    </div>
</div>

<div id='adsgohere' class="adarea" align='center' ng-hide="isOffline">
    <a href='#' ng-click='openAd();'>
        <img width="320" height="50" ng-src="{{adImageSrc}}">
    </a>
 </div>
