<div id="storyArea" class="col-sm-12" ng-repeat="Event in leaderboardData track by $index">
	<div class="container">
		<br>
		<div id="leaderboards-tours">
				<a href="#/leaderboards/pga">PGA Tour</a>
				<a href="#/leaderboards/chmp">Champions Tour</a>
				<a href="#/leaderboards/web">Web.com Tour</a>
			</div>
			<div id="divider"></div>
		<br>

		<div ng-if="Event.name == ''">Live Scoring is not currently available.  Please check back later.</div>

		<div ng-if="Event.name !== ''">

			<h3 class="nomargin">{{Event.name}}</h3><br>
			<strong>{{Event.localCity}},	{{Event.LocState}}<br>
			{{Event.Loc}} - {{Event.CurTime}}</strong>
			<br><br>

			<table id="leaderboard">
				<thead>
					<th id="pos">Pos</th>
					<th id="name">Name</th>
					<th id="cur">Current</th>
					<th id="thru">Thru</th>
					<th id="score">Score</th>
				</thead>
				<tbody>
					<tr ng-repeat="PlayerScore in Event.PlayerScores track by $index">
						<td>{{PlayerScore.Pos}}</td>
						<td>{{PlayerScore.Fname}} {{PlayerScore.Lname}}</td>
						<td>{{PlayerScore.TournParRel}}</td>
						<td>{{PlayerScore.Thru}}</td>
						<td>{{PlayerScore.CurParRel}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="push">&nbsp;</div>
</div>

<div id='adsgohere' class="adarea" align='center'>
	<div id='mainAd' ad-img></div>
</div>
