// remove interstitial on mobile
include interstitial

#storyArea.col-sm-12
  h4.favorites-header Your Favorites
  ul.favorites
    li(ng-repeat='story in sectionData')
      a.arrow(fav-button='{{story.title}}') &#9734
      a.pinImageWrapper(ng-href='{{story.url}}')
        strong.nomargin(story='title')
    ul
      .push  

include mainad
