// remove interstitial on mobile
include interstitial

.stretch-tall
  .stretch-tall
    div#storyArea.col-sm-12(align='center')
      .titleFav.fullbar
        a.arrow.titlestar(fav-button='{{galleryImageData.photocaption}}') &#9734;
        h4(galleryimage='photocaption')
      .photo-holder(align='center')
        .both-holder
          .img-holder
            img(ng-src='{{galleryImageData.photourl}}')
          span(galleryimage='photocaption')


include mainad
