#interstitial(interstitial='interstitial')
  #interstitialad


// comment this block out on mobile web
.loc-area(align='center')
    .backArrow(back-button='back-button')
        a.arrow &lt;
      .favButton(ng-if='galleryData.title !== undefined', fav-button='{{galleryData.title}}')
        a.arrow &#9734;
      .favButton(ng-if='galleryData.name !== undefined', fav-button='{{galleryData.name}}')
        a.arrow &#9734;


div(ng-switch='ng-switch', on='section')
    div(ng-switch-when='photos')
        #storyArea.col-sm-12(align='center')
          .titleFav.fullbar
            a.arrow.titlestar(fav-button='{{galleryData.title}}') &#9734;
            h4(gallery='title')
          .photo-holder.photo-image{{$index}}(ng-repeat='pic in galleryData.images', align='center')
            .both-holder
              .img-holder
                img(ng-src='{{pic.photourl}}')
              span(pic='photocaption')
        .push
      div(ng-switch-when='photo-galleries')
        #storyArea.col-sm-12(align='center')
          .titleFav.fullbar
            a.arrow.titlestar(fav-button='{{galleryData.title}}') &#9734;
            h4(gallery='title')
          .photo-holder.photo-image{{$index}}(ng-repeat='pic in galleryData.images', align='center')
            .both-holder
              .img-holder
                img(ng-src='{{pic.photourl}}')
              span(pic='photocaption')
        .push
      .stretch-tall(ng-switch-when='videos')
        #storyArea.stretch-tall
          .wrapper
            .i_iframe(style='background-image: url(\'{{pic.photourl}}\'); background-size: cover;')
              // a transparent image is preferable 
              img.ratio(src='img/16x9.png')
              #playerDiv(tube-player='{{galleryData.url}}', align='center')
            .titleFav
              strong
                span(gallery='title')
              a.arrow.titlestar(fav-button='{{galleryData.title}}') &#9734;
            br
            span(gallery='caption')
          div(style='clear: both;')


#adarea.adarea(align='center')
    #mainAd(ad-img='ad-img')
