// remove interstitial on mobile
include interstitial


#storyArea.col-sm-12(ng-repeat='Event in leaderboardData track by $index')
  .container
    br
    #leaderboards-tours
      a(href='/leaderboards/pga') PGA Tour
      a(href='/leaderboards/chmp') Champions
      a(href='/leaderboards/web') Web.com
    #divider
    br

    div(ng-if='Event.name == \'\'') Live Scoring is not currently available.  Please check back later.

    div(ng-if='Event.name !== \'\'')
      h3.nomargin {{Event.name}}

      br
      strong {{Event.localCity}},	{{Event.LocState}}
      br
      strong {{Event.Loc}} - {{Event.CurTime}}
      br
      br
      
      table#leaderboard
        thead
          th#pos Pos
          th#name Name
          th#cur Current
          th#thru Thru
          th#score Score
        tbody
          tr(ng-repeat='PlayerScore in Event.PlayerScores track by $index')
            td {{PlayerScore.Pos}}
            td {{PlayerScore.Fname}} {{PlayerScore.Lname}}
            td {{PlayerScore.TournParRel}}
            td {{PlayerScore.Thru}}
            td {{PlayerScore.CurParRel}}
      .push &nbsp;

include mainad
