// remove interstitial on mobile
include interstitial


#storyArea.col-sm-12
  table
    tr
      th
        a(href='', ng-click='reverse=!reverse;order(\'place\', reverse)') #
      th
        a(href='', ng-click='reverse=false;order(\'name\', false)') Name
      th
        a(href='', ng-click='reverse=!reverse;order(\'rating\', reverse)') Rating
      th
        a(href='', ng-click='reverse=!reverse;order(\'events\', reverse)') Events
      th
        a(href='', ng-click='reverse=!reverse;order(\'rank\',reverse)') Schedule (Rank)
      tbody
        tr(ng-repeat='ranking in rankingData track by $index')
          td {{ranking.place}}
          td {{ranking.name}}
          td {{ranking.rating}}
          td {{ranking.events}}
          td {{ranking.sked}} ({{ranking.rank}})
          td
  .push  


include mainad
