// remove interstitial on mobile
include interstitial


#storyArea.col-sm-12
  .item
    h4 Search: 
    input(type='text', name='text', ng-model='searchQuery', value='{{searchQuery}}')
    input#submit(type='submit', value='Submit', hm-tap='submit()')
  #itemArea
    .item.{{story.class}}(ng-repeat='story in searchData.stories')
      .PinBase.Pin.Module.summary.ajax.lite(data-component-type='0')
        .pinWrapper
          .pinHolder
            a.pinImageWrapper(ng-href='{{story.id}}', ng-click='close()')
              .fadeContainer
                .hoverMask
                img.pinImg.fullBleed.loaded.fade(ng-src='{{story.photourl}}')
                .padded-cell
                  h4.nomargin
                    a(href='{{story.id}}', story='headline')
                  span.sideboard-date(story='pubDate')
                  span.sideboard-date(story='author')
                  p(story='tease')
    .cleardivs
  .push  


include mainad
