
<div id="storyArea" class="col-sm-12" ng-repeat="story in storyData.story">
    <div class="maxphoto" align="center">
		<div ng-if="story.video > ''" class="h_iframe" style="background-image:url('{{story.photourl}}'); background-size:cover">
			<!-- a transparent image is preferable -->
			<img class="ratio" src="img/16x9.png"/>
			<div id="playerDivStory" tube-player="{{story.video}}" align="center"></div>
		</div>
		<div ng-if="story.video == ''"><img ng-src="{{story.photourl}}"></div>
	</div>
    <div class="container">
        <div >
            <!-- <h3 class="nomargin" ng-bind-html="story.headline"></h3> -->
            <h3 id="storyheadline" class="nomargin" story="headline" title="{{story.headline}}"></h3><br>
			<span class="sideboard-date" story="pubDate"></span>
        </div>
		<div class="social-icons">
			<a class='arrow titlestar' fav-button="{{storyData.story[0].headline}}">&#9734;</a>
			<a class='share-icon-story' hm-tap="theFunk()"></a>
		</div>
		<div style="clear: both"></div>
		<div class="author-and-date" ng-if="story.authorimg > ''">
			<span class="sideboard-authorimg" story="authorimg"></span>
			<span class="sideboard-author" story="author"></span>
		</div>
		<div></div>
        <p class="storyp" story-test></p>
		<div class="padmytop">
			<h4>Related Stories</h4>
			<div class="related fadeContainer" ng-repeat="related in storyData.related" id="related-{{$index}}">
				<a ng-href="#{{related.link}}">
					<img ng-src="{{related.photothumb}}">
					<span related="headline"></span>
				</a>
			</div>
			<div style="clear: both"></div>
		</div>
		<div class="push">&nbsp;</div>
    </div>
</div>

<div id='somethingtodowithads' class="adarea" align='center'>
	<div id='mainAd' ad-img></div>
</div>
