extends layout

block content
  #loaddiv(ng-show='loading')
    img(src='img/ajax-loader.gif')

  .maindiv(ng-controller='newsHome', hm-swiperight='open()', hm-swipeleft='close()')

    // Top Nav Bar
    include topnav

    // Side Menu
    include sidebar

