html.no-js(ng-app='newsApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Golfweek
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory 
    // link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='http://mobile.golfweek.com/styles/external.css')
    base(href='/')
  body#appstart(ng-app='project', ng-controller='loadCtrl', ng-cloak='ng-cloak')

    block content


    script(src='/scripts/app.js')