div#sidebar.sidebar-offcanvas(role='navigation' class='{{side}}')
  .sidebar-nav
    ul.nav
      li
        a(href='/leaderboards/pga', hm-tap='sideToggle(); route(\'/leaderboards/pga\');') Leaderboards
      li(ng-repeat='section in feedData.sections')
        a(hm-tap='sideToggle(); route(\'/{{section.url}}/\');', section='title')
      li
        a(href='http://rankings.golfweek.com/ellington/default.asp?t=mi') Rankings
      li
        a(href='/search/5 things/', hm-tap='sideToggle(); route(\'/search/5 things/\');') Search
      li
        a(href='/favorites/', hm-tap='sideToggle(); route(\'/favorites/\');') Favorites
