// NAV MENU 
#navbar-top
  #navbar-top-logo
    a.navbar-brand(href='/', hm-tap='route(\'/\');')
  .navbar-icon(data-target='#sidebar', hm-tap='sideToggle();')
  #navbar-top-back
    .backArrow.back-icon(back-button='back-button')
  #navbar-top-back
    // .share-icon(hm-tap='theFunk()', ng-show='title')
